body{
font-family: 'Timmana', sans-serif;
color:Black; font-size: 50px;
zoom:100%;
background-color: whitesmoke;   
}

#menu{
			width: 100%;
			height: 100%;
			margin: 0px;
			border: 0;
	overflow: hidden; /*  Disable scrollbars */
			display: block;  /* No floating content on sides */
  //  position: absolute; left: 0px; top: 0px
		}

/* NAVIGATION */
#nav {
    padding:0.1%;
    text-align: center;
    
}
#name{
    color:black; font-size: 140px;
    font-family: 'Arial', cursive;
}



#nav  a  {
    text-decoration: none;
    color:black;
}
#nav li a  {
    text-decoration: none;
    color:white;
}

#nav li  {
    font-size: 55px;
    display: block;
    width: 40%;
    padding: 1.7%;
    color: white;
    border: 5px solid #0E8C0D;
    border-radius: 340px;
    text-align: center;
    outline: black;
    text-decoration: none; 
    font-family: 'Raleway', sans-serif;
    list-style-type: none;
    margin: auto;
    background-color: #0E8C0D;
}


#nav li:hover,
#nav li:active{
    background-color: #0E8C0D;
    color: #0E8C0D;
}

#exit li{
    font-size: 100%;
    display: inline-block;
    width: 8%;
    padding: 0%;
    color: white;
    border: 1px solid #0E8C0D;
    border-radius: 120px;
    text-align: center;
    text-decoration: none; 
    font-family: 'Raleway', sans-serif;
    
    background-color: red; 
    text-decoration: none;
    padding:0.1%;
    text-align: center;
    list-style-type: none;
    position: absolute; left: 91%; top: 4px;
}
